.container {
    display: flex;
    justify-content: space-between;
}

.content {
    flex-basis: 50%;
    padding: 20px;
}

#reqdAttr {
    display: none;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

input[type="submit"],
input[type="button"] {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #45a049;
}

h4 {
    font-size: 18px;
    margin-bottom: 20px;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 20px;
}

#PlayerBox {
    border: 1px solid #ccc;
    padding: 20px;
}

#playerList {
    margin-top: 10px;
    padding-left: 20px;
}

#playerList li {
    margin-bottom: 5px;
}

#playerList li:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .content {
        margin-bottom: 20px;
    }
}

#playerImage {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

#userPrompt {
    position: relative;
    left: 0;
    top: 0;
    font-size: 36px;
    color: royalblue;
    animation: moveAnimation 2s linear;
}

@keyframes moveAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(100% - 100px));
        /* Adjust the value based on your container's width */
    }
}


#bidBtn:disabled,
#nxtPlayerBtn:disabled {
    opacity: 0.6;
    /* Reduce opacity to indicate disabled state */
    cursor: not-allowed;
    /* background-color: gray; */
    /* color: lightgray; */
    /* Change cursor to not-allowed */
    /* Add any additional styles you want for disabled buttons */
}

.hidden {
    display: none;
}