.resultContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    flex: 1;
    padding: 20px;
    background-color: #FFD700;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.right {
    flex: 1;
    padding: 20px;
    background-color: #6495ED;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 10px;
}

ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 16px;
    color: #333333;
    margin-bottom: 5px;
}

.resultContainer::before,
.resultContainer::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.resultContainer::before {
    left: -25px;
}

.resultContainer::after {
    right: -25px;
}